<!-- http://chronos.speedyapplication.com/en-us/Shortcodes/Lightbox -->
<div class="spd-padding-top-bottom-30"></div>
    <div class="light_box_n036 speedy-content">
      <div class="spd-row">
        <div class="spd-col-md-12 spd-col-sm-12 spd-col-xs-12">
          <h2 class="spd-text-center"> Lightbox effects 8</h2>
        </div>
      </div>
      <div class="spd-row spd-padding-top-30">
        <!-- 1 -->
        <div class="spd-col-md-4 spd-col-sm-4 spd-col-xs-12 spd-xs-padding-bottom-50">
          <div class="effect-zoe xs-img"><img alt="meetOurTeam-01" src="/portals/1/images/woar3.png">
            <figcaption>
              <h2>Paul <strong>Fijma</strong></h2><a class="fa fa-heart-o spdBaseFntColrHover"></a><a class="fa fa-eye spdBaseFntColrHover" href="/portals/1/images/woar3.png" rel="prettyPhoto[pp_gal]" data-rel="prettyPhoto[pp_gal]"></a><a class="fa fa-paperclip spdBaseFntColrHover"></a>
              <p>Sample text 1</p>
            </figcaption>
          </div>
        </div>
		<!-- -->
		<!-- 2 -->
        <div class="spd-col-md-4 spd-col-sm-4 spd-col-xs-12 spd-xs-padding-bottom-50">
          <div class="effect-zoe xs-img"><img alt="meetOurTeam-02" src="/portals/1/images/woar3.png">
            <figcaption>
              <h2>Aka Manto <strong>Hyosube</strong></h2><a class="fa fa-heart-o spdBaseFntColrHover"></a><a class="fa fa-eye spdBaseFntColrHover" href="/portals/1/images/woar3.png" rel="prettyPhoto[pp_gal]" data-rel="prettyPhoto[pp_gal]"></a><a class="fa fa-paperclip spdBaseFntColrHover"></a>
              <p>test 2</p>
            </figcaption>
          </div>
        </div>
		<!-- -->
		<!-- 3 -->
        <div class="spd-col-md-4 spd-col-sm-4 spd-col-xs-12 spd-xs-padding-bottom-50">
          <div class="effect-zoe xs-img"><img alt="meetOurTeam-03" src="/portals/1/images/woar3.png">
            <figcaption>
              <h2>new<strong> new</strong></h2><a class="fa fa-heart-o spdBaseFntColrHover"></a><a class="fa fa-eye spdBaseFntColrHover" href="/portals/1/images/woar3.png" rel="prettyPhoto[pp_gal]" data-rel="prettyPhoto[pp_gal]"></a><a class="fa fa-paperclip spdBaseFntColrHover"></a>
              <p>test 3.</p>
            </figcaption>
          </div>
        </div>
		<!-- -->
      </div>
    </div>
	
	